/* Definindo estilos para a classe .faq */
.faq {
    padding: 5.6vw;

    /* Estilos para os títulos <h2> dentro da classe .faq */
    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    /* Estilos para o elemento com classe .faq__questions */
    &__questions {
       
        /* Estilos para cada item com classe .faq__questions__item */
        &__item {
            background-color: #13151d;
            margin-bottom: 16px;

            /* Estilos para a pergunta dentro do item */
            &__question {
                color: #fff; 
                font-size: 20px;
                padding: 24px;
                cursor: pointer;
                position: relative;

                /* Estilos para o sinal de mais (+) que aparece antes da pergunta */
                /* Porém, o comentário estava incorreto e a pseudo-elemento '::before' não estava sendo utilizado */
                &::before {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            /* Estilos para a resposta dentro do item */
            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            /* Estilos para o item quando está aberto (quando a resposta é exibida) */
            &--is-open {

                /* Alterando o sinal de '+' para '-' quando o item está aberto */
                .faq__questions__item__question::after {
                    content: '-';
                }

                /* Exibindo a resposta quando o item está aberto */
                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                }
            }
        }
    }
}
