@use 'variaveis';

.shows{
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr; //3 colunas em 1 linha
        gap: 24px;

        @media (max-width:768px){
            grid-template-columns: 1fr 1fr; //3 colunas em 1 linha
        }

        &--is-active {
            display: grid; 
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs{ //estilizando as abas
        display: flex;
        justify-content: center;

        @media (max-width:768px){
            white-space: nowrap; //faz com que os textos fiquem em uma linha só mesmo que não caiba no container, forçamos
            overflow-x: scroll; 
            padding-left: 20px; // para todo o primeiro elemento aparecer na rolagem
        }

        &__button{
            color: variaveis.$CorTextoSecundario;
            font-size: 20px;
            border: none; //remover as bordas antes
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase; //texto todo em maiusculo
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;


            &--is-active {
                border-color: variaveis.$CorTextoSecundario;
            }

            @media (max-width:768px){
                font-size: 16px;
            }
        }
    }
}